name: First Workflow
on: [push]

jobs:
  hello-world:
     runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
                - name: Say Hello
                      run: echo "Hello from GitHub Actions!"
                          - name: List Files
                                run: ls -la
